<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.yral.iosApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.yral.iosApp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FIREBASE_CLOUD_BASE_URL</key>
	<string>https://us-central1-yral-mobile.cloudfunctions.net/</string>
	<key>FacebookAppID</key>
	<string>4094678660808510</string>
	<key>FacebookClientToken</key>
	<string></string>
	<key>FacebookDisplayName</key>
	<string>Yral</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MIXPANEL_TOKEN</key>
	<string>609abef3172b5fc64554f5ac6c77414d</string>
	<key>NSCameraUsageDescription</key>
	<string>Yral requires camera access to allow you to record and upload videos. Your camera will only be used when you choose to create a new video.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Yral requires microphone access to capture audio while recording videos. Your microphone will only be used during video recording.</string>
	<key>UIAppFonts</key>
	<array>
		<string>KumbhSans-Black.ttf</string>
		<string>KumbhSans-Bold.ttf</string>
		<string>KumbhSans-ExtraBold.ttf</string>
		<string>KumbhSans-ExtraLight.ttf</string>
		<string>KumbhSans-Light.ttf</string>
		<string>KumbhSans-Medium.ttf</string>
		<string>KumbhSans-Regular.ttf</string>
		<string>KumbhSans-SemiBold.ttf</string>
		<string>KumbhSans-Thin.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>YRAL_REDIRECT_URI</key>
	<string>com.yral.iosApp://oauth/callback</string>
</dict>
</plist>
