name: Tag release and publish APK
on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name for the release'
        required: true
        default: '1.0.0'
      build_number:
        description: 'Build number uploaded on play store'
        required: true
        default: 1

permissions:
  contents: write

jobs:
  tag-release:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Install android SDK
        uses: android-actions/setup-android@v3

      - name: Install android ndk
        if: steps.changed_files.outputs.any_changed == 'true'
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r28
          link-to-sdk: true
          local-cache: true

      - name: Update version code
        run: |
          sed -i 's/versionCode[[:space:]]*=[[:space:]]*[0-9][0-9]*/versionCode = '"${{ github.event.inputs.build_number }}"'/' ./androidApp/build.gradle.kts
          cat ./androidApp/build.gradle.kts | grep versionCode  

      - name: Setup keystore
        env:
            KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_CONTENTS_BASE_64 }}
        run: |
          echo "$KEYSTORE_BASE64" | base64 -d > ./androidApp/my-release-key.keystore

      - name: Setup environment variables
        run: |
          echo "KEYSTORE_PASSWORD=${{ secrets.ANDROID_SIGNING_SECRET_PASSWORD }}" >> $GITHUB_ENV
          echo "KEY_PASSWORD=${{ secrets.ANDROID_SIGNING_SECRET_PASSWORD }}" >> $GITHUB_ENV
          echo "YRAL_BRANCH_KEY_TEST=${{ secrets.YRAL_BRANCH_KEY_TEST }}" >> $GITHUB_ENV
          echo "YRAL_BRANCH_KEY=${{ secrets.YRAL_BRANCH_KEY }}" >> $GITHUB_ENV
          echo "YRAL_META_INSTALL_REFERRER_DECRYPTION_KEY=${{ secrets.YRAL_META_INSTALL_REFERRER_DECRYPTION_KEY }}" >> $GITHUB_ENV

      - name: Clean project
        run: ./gradlew clean

      - name: Build AAB with Gradle
        run: ./gradlew androidApp:assembleProdRelease
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JAVA_HOME: ${{ steps.setup-jdk.outputs.java-home }}

      - name: Create Github Release (production-release)
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.inputs.tag_name }}
          release_name: ${{ github.event.inputs.tag_name }}
          draft: false
          prerelease: false

      - name: Upload APK (production-release)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: androidApp/build/outputs/apk/prod/release/androidApp-prod-release.apk
          asset_name: androidApp-release.apk
          asset_content_type: application/vnd.android.package-archive
